body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
* {
  box-sizing: border-box;
}
/* ul {
  list-style-type: none;
} */
body {
  font-family: Verdana, sans-serif;
}
.container {
  max-width: 50%;
  margin: 0 auto;
  box-shadow: 0px, 0px, 15px, 3px;
}
.calender {
  margin: 5em 0;
  width: 800px;
  height: 800px;
  /* background-color: #c3c3c3;  */
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px 40px;
  box-sizing: border-box;
}
.cal_head {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, #dbeef2, #f6eeeb);
  border-radius: 80px;
  height: 150px;
  /* width: 90%; */
  align-items: center;
  justify-content: center;
}

.rgt_col h3 {
  font-size: 22px;
  padding: 0;
  margin: 0;
  color: grey;
}

.rgt_col p {
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: grey;
}

.main_cal {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.flx-cont {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

.lft_col_main {
  flex-basis: 48%;
}

.rgt_col_main {
  flex-basis: 48%;
  /*align-items: flex-end;
    height: 200px;*/
  background-color: #fff;
  margin-left: 4%;
}

.car {
  margin: 60px 20px 10px 30px;
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0eeee;
  color: #777;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 15px;
  width: 300px;
  height: 50px;
}

.passen {
  margin: 10px 20px 30px 30px;
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0eeee;
  color: #777;
  border-radius: 50px;
  font-size: 15px;
  padding: 20px 30px;
  width: 300px;
  height: 50px;
}

.mn_btn {
  margin: 0 50px;
  text-align: center;
  padding: 20px 10px;
  /* padding-top: 30; */
  border-radius: 70px;
  background-color: #ffa500;
  color: #fff;
  font-size: 18px;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: #ff9800;
  border-radius: 70px;
  width: 300px;
  height: 50px;
}

/*calendar*/

.month {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  height: 100px;
  /* background-color: rgb(240, 243, 238); */
  margin-bottom: auto;
  border-bottom: 1px solid #333;
}
.weekdays {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0px;
}
.weekdays div {
  width: 14.28%;
  text-align: center;
}
.days {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* padding: 10px 0px; */
}
.days div {
  width: 14.28%;
  margin-bottom: 10px;
  padding: 10px 0px;
  transition: all 0.2s;
}
.days div:hover {
  background-color: #dfe6e9;
  cursor: pointer;
}
.today {
  background-color: #7e9e9e;
  width: 40px;
  height: 40px;
  border-radius: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pre_month {
  color: rgb(201, 197, 197);
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 23px;
  background-color: rgb(184, 179, 179);
  border-radius: 50%;
  transition: all 0.2s;
}
.prev:hover,
.next:hover {
  background-color: rgb(70, 69, 69);
  cursor: pointer;
}

/* progress-circle */
.progress-circle {
  font-size: 20px;
  margin: 15px;
  position: relative; /* so that children can be absolutely positioned */
  padding: 0;
  width: 5em;
  height: 5em;
  /*background-color: #F2E9E1;*/
  border-radius: 50%;
  line-height: 5em;
}

.progress-circle:after {
  border: none;
  position: absolute;
  top: 0.35em;
  left: 0.35em;
  text-align: center;
  display: block;
  border-radius: 50%;
  width: 4.3em;
  height: 4.3em;
  background-color: rgb(212, 209, 209);
  content: " ";
}

.progress-circle span {
  position: absolute;
  line-height: 5em;
  width: 5em;
  text-align: center;
  font-size: 20px;
  display: block;
  color: #393a3a;
  z-index: 2;
}
.left-half-clipper {
  /* a round circle */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute; /* needed for clipping */
  clip: rect(0, 5em, 5em, 2.5em); /* clips the whole left half*/
}
/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
  clip: rect(auto, auto, auto, auto);
}
.value-bar {
  /*This is an overlayed square, that is made round with the border radius,
   then it is cut to display only the left half, then rotated clockwise
   to escape the outer clipping path.*/
  position: absolute; /*needed for clipping*/
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #ffa500; /*The border is 0.35 but making it larger removes visual artifacts */
  /*background-color: #4D642D;*/ /* for debug */
  box-sizing: border-box;
}
/* Progress bar filling the whole right half for values above 50% */
.progress-circle.over50 .first50-bar {
  /*Progress bar for the first 50%, filling the whole right half*/
  position: absolute; /*needed for clipping*/
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #ffa500;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.progress-circle:not(.over50) .first50-bar {
  display: none;
}

.progress-circle.p77 .value-bar {
  transform: rotate(277deg);
}
